[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=True
Icon=/home/pi/Desktop/./app/nativelauncher.png
Name=Client Launcher
Exec=bash -c "cd `dirname %k` && ./clientlauncher.sh &"
Path=.
